<div>
  <div>
    <h1>
      List of my plants
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new plant to my garden
    </h3>

    <form action="/insert_plant" method="post">
      <div>
        <label for="species_id_box">
          Species
        </label>

          <select id="species_id_box" name="query_species_id">
            <% Species.all.each do |a_species| %>
              <option value="<%= a_species.id %>">
                <%= a_species.binoname %> (<%= a_species.nickname %>)
              </option>
            <% end %>
          </select>
        

        <%# <input type="text" id="species_id_box" name="query_species_id"> %>
      </div>

      <div>
        <label for="room_id_box">
          Room
        </label>
      <% if @current_user.rooms.length == 0 %>
        : <a href="/rooms"> Add a new room first</a>
      <% else %>
          <select id="room_id_box" name="query_room_id">
            <% @current_user.rooms.each do |a_room| %>
              <option value="<%= a_room.id %>">
                <%= a_room.roomname %> (<%= a_room.roomtype %>)
              </option>
            <% end %>
          </select>
      <% end %> 
       <%# <input type="text" id="room_id_box" name="query_room_id"> %>
      </div>

      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>
     <div>
        <input type="hidden" id="dead_box" name="query_dead" value="false">
      </div>
      <button>
        Create plant
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <h3>My current plants</h3>
  <div>
    <table border="1">
      <tr>

        <th>
          Species
        </th>

        <th>
          Room
        </th>

        <th>
          Name
        </th>
        
        <th>
          Cover Photo
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_plants.each do |a_plant| %>
      <tr>
        <td>
          <%= a_plant.species.binoname %>
        </td>

        <td>
          <% if a_plant.room == nil %>
            Unknown room
          <% else %>
            <%= a_plant.room.roomname %>
          <% end %>
        </td>

        <td>
          <%= a_plant.name %>
        </td>

        <td>
          <img src="<%= a_plant.plant_cover %>" style="width:48px;height:48px"></img>
        </td>

        <td>
          <a href="/plants/<%= a_plant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<div>
  <h3>My dead plants</h3>
  <div>
    <table border="1">
      <tr>

        <th>
          Species
        </th>

        <th>
          Room
        </th>

        <th>
          Name
        </th>
        
        <th>
          Cover Photo
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_dead_plants.each do |a_plant| %>
      <tr>
        <td>
          <%= a_plant.species.binoname %>
        </td>

        <td>
          <% if a_plant.room == nil %>
            Unknown room
          <% else %>
            <%= a_plant.room.roomname %>
          <% end %>
        </td>

        <td>
          <%= a_plant.name %>
        </td>

        <td>
          <img src="<%= a_plant.species.cover %>" style="width:48px;height:48px"></img>
        </td>

        <td>
          <a href="/plants/<%= a_plant.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
