<div>
      <div>
        <a href="/plants">
          Go back
        </a>
      </div>
  
  <div>
    <h1>
      <%= @the_plant.name %>
    </h1>
    <h3>
      <%= @the_plant.species.binoname %>
    </h3>
    <div>
      <img src="<%= @the_plant.species.cover %>" style="width:96px;height:96px"></img>  
    </div>

    <dl>
      <dt>
        Room
      </dt>
      <dd>
           <% if @the_plant.room == nil %>
            Unknown room
          <% else %>
            <%= @the_plant.room.roomname %>
          <% end %>
      </dd>
      <dt>
        Water interval
      </dt>
      <dd>
        <%= @the_plant.water_interval %>
      </dd>

      <dt>
        Water next at
      </dt>
        <dd>
          <%= @the_plant.water_next_at %>
        </dd>

      <dt>
        Number of Photos Taken
      </dt>
      <dd>
        <%= @the_plant.plantphotos_count %>
      </dd>
    </dl>
</div>

<hr>
  <h2>
    Care
  </h2>
  <dl>
      <dt>
        Bio
      </dt>
      <dd>
        <%= @the_plant.species.about %>
      </dd>
      <dt>
        Basic Instruction
      </dt>
      <dd>
        <%= @the_plant.species.instruction %>
      </dd>
      <dt>
        Diffculty
      </dt>
      <dd>
        <%= @the_plant.species.difficulty %>
      </dd>

      <dt>
        Water
      </dt>
        <dd>
          <%= @the_plant.species.water_type %>
        </dd>

      <dt>
        Sun
      </dt>
      <dd>
        <%= @the_plant.species.sun_type %>
      </dd>
    </dl>
 
    
<hr>
<div>
  <div>
    <h2>ACTIVITIES</h2>
    <h3>
      Add a new activity
    </h3>

    <form action="/insert_activity" method="post">
      <div>
        <label for="care_type_box">
          Care type
        </label>

        <select id="care_type_box" name="query_care_type">
          <% @activity_type.each do |a_type| %>
            <option><%= a_type %></option>
          <% end %>
        </select>

       <%# <input type="text" id="care_type_box" name="query_care_type"> %>
      </div>

      <div>
        <label for="note_box">
          Note
        </label>

        <textarea id="note_box" name="query_note" rows="3"></textarea>
      </div>

      <div>
        <input type="hidden" id="plant_id_box" name="query_plant_id" value="<%= @the_plant.id %>">
      </div>

      <div>
        <label for="care_at_box">
          Care at
        </label>

        <input type="datetime-local" id="care_at_box" name="query_care_at" value="<%= Date.today %>">
      </div>

      <div>
        <input type="hidden" id="owner_id_box" name="query_owner_id" value="<%= @current_user.id %>">
      </div>

      <button>
        Create activity
      </button>
    </form>
  </div>
</div>
<div>
<h3>List of Activites</h3>
</div>

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Care type
        </th>

        <th>
          Note
        </th>

        <th>
          Care at
        </th>

        <th>
        </th>
      </tr>

      <% @the_plant.activities.each do |an_activity| %>
      <tr>
        <td>
          <%= an_activity.care_type %>
        </td>

        <td>
          <%= an_activity.note %>
        </td>

        <td>
          <%= time_ago_in_words(an_activity.care_at) %> ago
        </td>

        <td>
          <a href="/activities/<%= an_activity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<br>


<hr>

<div>
  <div>
    <h2>PHOTOS</h2>
    <h3>
      Add a new plantphoto
    </h3>

    <form action="/insert_plantphoto" method="post">
      <div>
        <label for="image_box">
          Image
        </label>

        <input type="text" id="image_box" name="query_image">
      </div>

      <div>
        <label for="caption_box">
          Caption
        </label>

        <input type="text" id="caption_box" name="query_caption">
      </div>

      <div>
        <input type="hidden" id="plant_id_box" name="query_plant_id" value="<%= @the_plant.id%>">
      </div>

      <button>
        Create plantphoto
      </button>
    </form>
  </div>
</div>

<h3>All photos (<%= @the_plant.plantphotos_count %>)</h3> 

<div>
  <div>
    <table border="1">
      <tr>

        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Created at
        </th>

        <th>
        </th>
      </tr>

      <% @the_plant.plantphotos.each do |a_plantphoto| %>
      <tr>

        <td>
          <img src="<%= a_plantphoto.image %>" style="width:150px;height:150px;"></img>
        </td>

        <td>
          <%= a_plantphoto.caption %>
        </td>

        <td>
          <%= time_ago_in_words(a_plantphoto.created_at) %> ago
        </td>
  

        <td>
          <a href="/plantphotos/<%= a_plantphoto.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>


<br>
<hr>

<div>
  <div>
    <h2>
      Edit plant
    </h2>

    <form action="/modify_plant/<%= @the_plant.id %>"  method="post" >
      <div>
        <div>
        <label for="name_box">
          Your Plant Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_plant.name %>">
      </div>
        
        <label for="species_id_box">
          Species
        </label>

        <select id="species_id_box" name="query_species_id">
            
            <option value="<%= @the_plant.species.id %>" selected>
              <%= @the_plant.species.binoname %> (<%= @the_plant.species.nickname %>)
            </option>
            <% Species.where.not({:id => @the_plant.species.id}).each do |a_species| %>
              <option value="<%= a_species.id %>">
                <%= a_species.binoname %> (<%= a_species.nickname %>)
              </option>
            <% end %>
          </select>
      </div>

      

      <div>
        <label for="room_id_box">
          Room
        </label>

         <select id="room_id_box" name="query_room_id">
            
            <option value="<%= @the_plant.room.id %>" selected>
              <%= @the_plant.room.roomname %> (<%= @the_plant.room.roomtype %>)
            </option>
            
            <% @current_user.rooms.where.not({:id => @the_plant.room.id}).each do |a_room| %>
              <option value="<%= a_room.id %>">
                <%= a_room.roomname %> (<%= a_room.roomtype %>)
              </option>
            <% end %>
          </select>
       
      </div>

        <div>
        <input type="checkbox" id="dead_box" name="query_dead" value="1" <%= "checked" if @the_plant.dead %>>

        <label for="dead_box">
            Dead
        </label>
      </div>
      <button>
        Update plant
      </button>
    </form>
  </div>
</div>

<hr>
      
<br>


      <div>
        <a href="/delete_plant/<%= @the_plant.id %>">
          Delete plant
        </a>
      </div>

      <%= link_to "Delete plant 2", "/", data: { confirm: "Are you sure" } %>
