<div>
  <div>
     <div>
        <a href="/rooms">
          Go back
        </a>
      </div>

    <h1>
      Room: <%= @the_room.roomname %>
    </h1>

    <div>
   
    
    </div>

    <dl>
      <dt>
        Roomtype
      </dt>
      <dd>
        <%= @the_room.roomtype %>
      </dd>
      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_room.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_room.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit room
    </h2>

    <form action="/modify_room/<%= @the_room.id %>"  method="post" >
      
         <div>
        <label for="roomname_box">
          Roomname
        </label>
        <input type="text" id="roomname_box" name="query_roomname" value="<%= @the_room.roomname %>">
      </div>

      <div>
        <label for="roomtype_box">
          Roomtype
        </label>

        <select id="roomtype_box" name="query_roomtype">
          
          <option selected>
            <%= @the_room.roomtype %>
          </option>

          <% @room_type.each do |a_type| %>
            <% unless a_type == @the_room.roomtype %>
              <option><%= a_type %></option>
            <% end %>
          <% end %>
        </select>

        <%# <input type="text" id="roomtype_box" name="query_roomtype" value="<%= @the_room.roomtype %>
      </div>

   

      <button>
        Update room
      </button>
    </form>
  </div>
</div>

<hr>

  <div>
        <a href="/delete_room/<%= @the_room.id %>">
          Delete room
        </a>
      </div>
