<div>
  <div>
    <h1>
      Photo of <%= @the_plantphoto.plant.name %>
    </h1>

    <div>
      <div>
        <a href="/plants/<%= @the_plantphoto.plant.id %>">
          Go back
        </a>
      </div>

     
    </div>

    <dl>
      <dt>
        Image
      </dt>
      <dd>
        <img src="<%= @the_plantphoto.image %>" style="width:150px;height:150px;"></img>
      
      </dd>

      <dt>
        Caption
      </dt>
      <dd>
        <%= @the_plantphoto.caption %>
      </dd>

      <dt>
        Plant
      </dt>
      <dd>
        <%= @the_plantphoto.plant.name %>
      </dd>

      <dt>
        Species
      </dt>
      <dd>
        <%= @the_plantphoto.plant.species.binoname %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_plantphoto.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_plantphoto.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>




<hr>
 <div>
        <a href="/delete_plantphoto/<%= @the_plantphoto.id %>">
          Delete this photo
        </a>
      </div>
