<div>
  <div>
    <h1>
      List of all activities
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new activity
    </h2>

    <form action="/insert_activity" method="post">
      <div>
        <label for="care_type_box">
          Care type
        </label>

        <input type="text" id="care_type_box" name="query_care_type">
      </div>

      <div>
        <label for="note_box">
          Note
        </label>

        <textarea id="note_box" name="query_note" rows="3"></textarea>
      </div>

      <div>
        <label for="plant_id_box">
          Plant
        </label>

        <input type="text" id="plant_id_box" name="query_plant_id">
      </div>

      <div>
        <label for="care_at_box">
          Care at
        </label>

        <input type="datetime-local" id="care_at_box" name="query_care_at">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id">
      </div>

      <button>
        Create activity
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Care type
        </th>

        <th>
          Note
        </th>

        <th>
          Plant
        </th>

        <th>
          Care at
        </th>

        <th>
          Owner
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_activities.each do |an_activity| %>
      <tr>
        <td>
          <%= an_activity.id %>
        </td>

        <td>
          <%= an_activity.care_type %>
        </td>

        <td>
          <%= an_activity.note %>
        </td>

        <td>
          <%= an_activity.plant_id %>
        </td>

        <td>
          <%= an_activity.care_at %>
        </td>

        <td>
          <%= an_activity.owner_id %>
        </td>

        <td>
          <%= time_ago_in_words(an_activity.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(an_activity.updated_at) %> ago
        </td>

        <td>
          <a href="/activities/<%= an_activity.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
