<div>
  <div>
    <h1>
      Activity #<%= @the_activity.id %> details
    </h1>

    <div>
      <div>
        <a href="/plants/<%= @the_activity.plant_id %>">
          Go back
        </a>
      </div>

    
    </div>

    <dl>
      <dt>
        Care type
      </dt>
      <dd>
        <%= @the_activity.care_type %>
      </dd>

      <dt>
        Note
      </dt>
      <dd>
        <%= @the_activity.note %>
      </dd>

      <dt>
        Plant
      </dt>
      <dd>
        <%= @the_activity.plant_id %>
      </dd>

      <dt>
        Care at
      </dt>
      <dd>
        <%= @the_activity.care_at %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_activity.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>
  <div>
        <a href="/delete_activity/<%= @the_activity.id %>">
          Delete activity
        </a>
      </div>
