<div>
  <div>
    <h1>
      Activity #<%= @the_activity.id %> details
    </h1>

    <div>
      <div>
        <a href="/activities">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_activity/<%= @the_activity.id %>">
          Delete activity
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Care type
      </dt>
      <dd>
        <%= @the_activity.care_type %>
      </dd>

      <dt>
        Note
      </dt>
      <dd>
        <%= @the_activity.note %>
      </dd>

      <dt>
        Plant
      </dt>
      <dd>
        <%= @the_activity.plant_id %>
      </dd>

      <dt>
        Care at
      </dt>
      <dd>
        <%= @the_activity.care_at %>
      </dd>

      <dt>
        Owner
      </dt>
      <dd>
        <%= @the_activity.owner_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_activity.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit activity
    </h2>

    <form action="/modify_activity/<%= @the_activity.id %>"  method="post" >
      <div>
        <label for="care_type_box">
          Care type
        </label>

        <input type="text" id="care_type_box" name="query_care_type" value="<%= @the_activity.care_type %>">
      </div>

      <div>
        <label for="note_box">
          Note
        </label>

        <textarea id="note_box" name="query_note"><%= @the_activity.note %></textarea>
      </div>

      <div>
        <label for="plant_id_box">
          Plant
        </label>

        <input type="text" id="plant_id_box" name="query_plant_id" value="<%= @the_activity.plant_id %>">
      </div>

      <div>
        <label for="care_at_box">
          Care at
        </label>

        <input type="datetime-local" id="care_at_box" name="query_care_at"
         value="<%= @the_activity.care_at %>">
      </div>

      <div>
        <label for="owner_id_box">
          Owner
        </label>

        <input type="text" id="owner_id_box" name="query_owner_id" value="<%= @the_activity.owner_id %>">
      </div>

      <button>
        Update activity
      </button>
    </form>
  </div>
</div>

<hr>
