
<% if @current_user == nil %> 
    <h1> Welcome to PlantGrow</h1>


    <h3>Plant of today is <%= @random_plant.binoname %></h3>
    <img src="<%= @random_plant.cover %>" width="200"></img>
    <div>
      <%= @random_plant.about %>
    </div>
    <br>
    <div>
    Please log-in to know how to take care of your plants
    </div>
    <div>
    <button onclick="location.href='/user_sign_in'" type="button">
            Log-in/Sign-up</button>
    </div>

    <br>
 

<% else %>

  <h2>
    Your tasks
  </h2>


    <div>
    <form action="/bulk_insert_activity" method="post">
      <div>
      <label for="care_type_box">
            Select your task
          </label>

          <select id="care_type_box" name="query_care_type">
            <% @activity_type.each do |a_type| %>
              <option><%= a_type %></option>
            <% end %>
          </select>
      </div>  
      <br>
      <div>
      
      <table border="1">
        <% @list_of_plants.each do |a_plant| %>
        <tr>
            <td>
            <img src="<%= a_plant.species.cover %>" style="width:48px;height:48px"></img>
          </td>
          <td>
            <label for="<%= a_plant.id %>"></label>
            <%= a_plant.name %>
          </td>
          <td>
            <input type="checkbox" id="<%= a_plant.id %>" name="<%= a_plant.id.to_s %>" value="yes">
          </td>
        </tr>
        <% end %>
      </table>
      </div>
      <div>
      <br>
      <input type="submit" id="submit_button" value="Finish all tasks">
      </div>
  </form>
  </div>

<% end %>
