<!DOCTYPE html>
<html>
  <head>
    <title>Base Rails</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

<% if alert.present? %>
  <div style="color: red;" >
    <%= alert %>
  </div>
<% end %>

<% if notice.present? %>
  <div style="color: green;">
    <%= notice %>
  </div>
<% end %>

    <nav>

    <h3>User Menu</h3>
      <ul>

<%# old style%>
<%#session.fetch(:user_id)%> 
 
        <li>
          <a href="/">
            Home
          </a>
        </li>
      
      <% if @current_user == nil %>
          
          <li>
            <a href="/user_sign_in">
              Sign in
            </a>
          </li>
          <li>
            <a href="/user_sign_up">
              Sign up
            </a>
          </li>

      <% else %>
          <li>
            <a href="/user_sign_out">
              Sign out
            </a>
          </li>
          <li>
            <a href="/plants">
               <%= @current_user.username %> 's Plants
            </a>
          </li>
          <li>
          <a href="/rooms">
            My rooms
          </a>
        </li>
        <li>
          <a href="/edit_user_profile">
            Edit Profile
          </a>
        </li>
         <li>
          <a href="/my_profile">
            My Profile
          </a>
        </li>
      
</ul>
     

  <% if @current_user.id == 1 %>
    <h3>Admin Menu</h3>
     <ul>
        <li>
          <a href="/species">
            Species
          </a>
        </li>
         <li>
          <a href="/plantphotos">
            Photos
          </a>
        </li>
         <li>
          <a href="/activities">
            Activities
          </a>
        </li>
      <ul>
    <% end %>
  
  <% end %>  
    </nav>
      

<br>
    <%= yield %>
  </body>
</html>
